<div class="my-component">
    This component is defined in the <strong>Components</strong> library.
</div>

<h1>@Title.test()</h1>
<h1>@Title.test2()</h1>

@code{
    [Parameter]
    public DynamicComponents? Title { get; set; }
}