<h3>DOC_H1TEXT_0_0</h3>

<h1>@Objref.Note_Title</h1>
<h1>@Objref.Note_Subtitle</h1>
<h1>@Objref.Note_Perex</h1>
<h1>@((MarkupString)Objref.Note)</h1>
@code {
	[Parameter]
	public webManagerCMS.Core.PageContentNS.Plugins.DocH1Text? Objref { get; set; }

}
