

<MAIN_LAYOUT>
	<PAGE_HEADER Objref="Objref" />

	<div class="content-wrapper" id="content">
		@Objref.RenderPageContent(1)
	</div>

	<PAGE_FOOTER Objref="Objref" />
</MAIN_LAYOUT>


@code {
	[Parameter]
	public PageContent? Objref { get; set; }
}
