@foreach (var item in @Objref.PluginParameters.pageTree.GetPagesForMenu())
{
	<li>
		<a href="@Objref.PluginParameters.pageTree.GetPageUrl(item)" class="@GetActiveClass(item.Id)">
			@item.Name
		</a>
	</li>
}

@code {
	[Parameter]
	public webManagerCMS.Core.PageContentNS.Plugins.PageTree? Objref { get; set; }

	public string? GetActiveClass(int id)
	{
		if (id == Objref.PluginParameters.currentPage.Id) return "is-active";
		return null;
	}
}
