@foreach (var item in @Objref.PluginParameters.pageTree.GetPagesForMenu())
{
	<li>
		<a href="/@item.PageAlias">
			@item.Name
		</a>
	</li>
}

@code {
	[Parameter]
	public webManagerCMS.Core.PageContentNS.Plugins.PageTree? Objref { get; set; }
}
